/* client card styles */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    margin: 30px;
}
.client-photo {
    margin: 20px;
    max-height: 500px;
    max-width: 500px;
}
.client-photo_small {
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
}
.column {
    margin: 5px;
}

/* clients list styles */
.client-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    height: 50px;
}
td {
    width: 200px;
    padding: 10px;
}
.client-photo_td {
    width: 70px;
}
.search-panel {
    margin: 20px;
}
.search-button {
    margin: 0 20px;
}
.delete_td {
    width: 70px;
}
.a_client-list {
    margin: 0 10px;
}

/* Pagination styles */
.pagination {
    margin: 10px;
}
.pagination_current {
    margin: 0 10px;
}
.pagination_previous,
.pagination_next {
    margin: 0 10px;
}

.delete-client_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

/* Create client form styles */
.create-client_header {
    margin: 10px;
}
.create-client-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_line input {
    width: 250px;
}
.form_line {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 400px;
}
.form_error {
    margin: 0;
}
.errorlist {
    list-style-type: none;
    margin: 0; 
    margin-bottom: 5px;
    color: red;
}
.create-client-form button {
    width: 100px;
    margin: 10px;
}

/* Client likes page styles */
.likes_container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center
}
.likes_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}
.likes_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    align-items: center;
}
.likes_photo {
    max-height: 450px;
    max-width: 350px;
}
.like-counter,
.like-counter:hover,
.like-counter:active,
.like-counter:focus {
    border: 0;
    outline: 0;
    width: 20px;
    margin: 0 10px;
}
.likes_error {
    color: red;
}
.likes_row_error {
    margin: 0;
}
.like_button {
    margin: 0 10px
}


/* Global styles */
html {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    background: #E4EFF4;;
    color: #000;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: -webkit-fill-available; */
}
a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    color: #555;
}
