{% extends "clientbase/base.html" %}
{% load url_replace %}
{% block title %} Clients list {% endblock %}
{% block content %}
    <div class="container">
        <form class="search-panel" action="/" method="get">
            {% csrf_token %}
            <input id="query_string" type="text" name="query_string" value="{{ query_string }}">
            <button class="search-button" type="submit">Search</button>
            <a href="{% url 'client_create' %}" class="a_client-list">Create client</a>
            <a href="{% url 'data_to_xlsx' %}" class="a_client-list">Download in xlsx</a>
            <a href="{% url 'client_photo' %}" class="a_client-list">Client photo</a>
        </form>
        <table>
            <tr class="client-line">
                <td class="client-photo_td"> Photo</td>
                <td><a href="?{% url_replace request 'order_by' 'fn' %}">First Name	&#9650;</a></td>
                <td><a href="?{% url_replace request 'order_by' 'ln' %}">Last Name &#9650;</a></td>
                <td><a href="?{% url_replace request 'order_by' 'dfb_d' %}">Age &#9650;</a></td>
                <td><a href="?{% url_replace request 'order_by' 'dfb' %}">Date of birth &#9650;</a></td>
                <td class="delete_td"></td>
            </tr>
            {% for client in clients %}
                <tr class="client-line">
                    <td class="client-photo_td">
                        <a href="{{ client.id }}">
                            <img src="{{ client.photo }}" class="client-photo_small">
                        </a>
                    </td>
                    <td><a href="{{ client.id }}">{{ client.first_name }}</a></td>
                    <td><a href="{{ client.id }}">{{ client.last_name }}</a></td>
                    <td>{{ client.age }}</td>
                    <td>{{ client.date }}</td>
                    <td class="delete_td">
                        <form id="deleteClientForm_{{client.id}}" method="post" action="{% url 'client_delete' pk=client.id %}">
                            {% csrf_token %}
                            <button type="button" onclick="deleteClient({{client.id}});">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
                    <a class="pagination_previous"
                        href="?{% url_replace request 'page' page_obj.previous_page_number %}">
                        previous
                    </a>
                {% endif %}

                <span class="pagination_current">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="pagination_next"
                        href="?{% url_replace request 'page' page_obj.next_page_number %}">
                        next
                    </a>
                    <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
{% endblock %}